USE [master]
GO
/****** Object:  Database [TrainingMatrixDB]    Script Date: 11/03/2026 13:01:06 ******/
CREATE DATABASE [TrainingMatrixDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainingMatrixDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TrainingMatrixDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainingMatrixDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TrainingMatrixDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainingMatrixDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainingMatrixDB]
GO
/****** Object:  User [UK\flg-uk-csm-SQL-SYSADMINS]    Script Date: 11/03/2026 13:01:06 ******/
CREATE USER [UK\flg-uk-csm-SQL-SYSADMINS] FOR LOGIN [UK\flg-uk-csm-SQL-SYSADMINS]
GO
/****** Object:  User [db_Public_User]    Script Date: 11/03/2026 13:01:06 ******/
CREATE USER [db_Public_User] FOR LOGIN [db_Public_User] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [CSMSVR02\Administrator]    Script Date: 11/03/2026 13:01:06 ******/
CREATE USER [CSMSVR02\Administrator] FOR LOGIN [CSMSVR02\Administrator] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [db_Public_User]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [db_Public_User]
GO
ALTER ROLE [db_owner] ADD MEMBER [CSMSVR02\Administrator]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/03/2026 13:01:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ParentDepartmentId] [int] NULL,
	[HeadOfDepartmentId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[SapWorkCentre] [nvarchar](100) NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeNumber] [nvarchar](450) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[DepartmentId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[HireDate] [datetime2](7) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeSkills]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSkills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[ProficiencyLevel] [int] NOT NULL,
	[AcquiredDate] [datetime2](7) NOT NULL,
	[LastAssessedDate] [datetime2](7) NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmployeeSkills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_EmployeeSkills_Employee_Skill] UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](350) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DepartmentSkillRequirements]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DepartmentSkillRequirements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[RequiredCount] [int] NOT NULL,
	[MinimumProficiencyLevel] [int] NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_DepartmentSkillRequirements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_DepartmentSkillRequirements_Department_Skill] UNIQUE NONCLUSTERED 
(
	[DepartmentId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DepartmentSkillCompliance]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create a view to show skill compliance by department
CREATE VIEW [dbo].[vw_DepartmentSkillCompliance] AS
SELECT 
    d.Id AS DepartmentId,
    d.Name AS DepartmentName,
    s.Id AS SkillId,
    s.Name AS SkillName,
    dsr.RequiredCount,
    dsr.MinimumProficiencyLevel,
    dsr.Priority,
    COUNT(DISTINCT CASE 
        WHEN es.ProficiencyLevel >= dsr.MinimumProficiencyLevel 
        THEN es.EmployeeId 
    END) AS CurrentQualifiedCount,
    dsr.RequiredCount - COUNT(DISTINCT CASE 
        WHEN es.ProficiencyLevel >= dsr.MinimumProficiencyLevel 
        THEN es.EmployeeId 
    END) AS ShortfallCount,
    CASE 
        WHEN COUNT(DISTINCT CASE 
            WHEN es.ProficiencyLevel >= dsr.MinimumProficiencyLevel 
            THEN es.EmployeeId 
        END) >= dsr.RequiredCount THEN 'Met'
        WHEN COUNT(DISTINCT CASE 
            WHEN es.ProficiencyLevel >= dsr.MinimumProficiencyLevel 
            THEN es.EmployeeId 
        END) >= (dsr.RequiredCount * 0.75) THEN 'Nearly Met'
        ELSE 'Not Met'
    END AS ComplianceStatus,
    CAST(
        (COUNT(DISTINCT CASE 
            WHEN es.ProficiencyLevel >= dsr.MinimumProficiencyLevel 
            THEN es.EmployeeId 
        END) * 100.0) / dsr.RequiredCount 
    AS DECIMAL(5,2)) AS CompliancePercentage
FROM [dbo].[DepartmentSkillRequirements] dsr
INNER JOIN [dbo].[Departments] d ON dsr.DepartmentId = d.Id
INNER JOIN [dbo].[Skills] s ON dsr.SkillId = s.Id
LEFT JOIN [dbo].[Employees] e ON e.DepartmentId = d.Id AND e.IsActive = 1
LEFT JOIN [dbo].[EmployeeSkills] es ON es.EmployeeId = e.Id AND es.SkillId = s.Id
WHERE dsr.IsActive = 1 AND d.IsActive = 1
GROUP BY 
    d.Id, d.Name, s.Id, s.Name, 
    dsr.RequiredCount, dsr.MinimumProficiencyLevel, dsr.Priority;

GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTrainings]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTrainings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[TrainingCourseId] [int] NOT NULL,
	[CompletionDate] [datetime2](7) NOT NULL,
	[ExpiryDate] [datetime2](7) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Score] [decimal](18, 2) NULL,
	[CertificateNumber] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmployeeTrainings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTrainingTasks]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTrainingTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[TrainingTaskId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedDate] [datetime] NULL,
	[EmployeeSignature] [nvarchar](max) NULL,
	[ManagerSignature] [nvarchar](max) NULL,
	[CompletionDate] [datetime2](7) NULL,
	[NonAdvancedEmployeeSignature] [nvarchar](max) NULL,
	[NonAdvancedEmployeeSignatureDate] [datetime2](7) NULL,
	[NonAdvancedManagerSignature] [nvarchar](max) NULL,
	[NonAdvancedManagerSignatureDate] [datetime2](7) NULL,
	[AdvancedEmployeeSignature] [nvarchar](max) NULL,
	[AdvancedEmployeeSignatureDate] [datetime2](7) NULL,
	[AdvancedManagerSignature] [nvarchar](max) NULL,
	[AdvancedManagerSignatureDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTrainingTaskSkills]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTrainingTaskSkills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeTrainingTaskId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[IsCompleted] [bit] NOT NULL,
	[CompletedDate] [datetime] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[StartedDate] [datetime2](7) NULL,
	[Notes] [nvarchar](500) NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingAttachments]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingAttachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeTrainingId] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[StoragePath] [nvarchar](500) NOT NULL,
	[ContentType] [nvarchar](100) NOT NULL,
	[FileSizeBytes] [bigint] NOT NULL,
	[AttachmentType] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[UploadedBy] [nvarchar](100) NOT NULL,
	[UploadDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_TrainingAttachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingCourses]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingCourses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CourseCode] [nvarchar](100) NULL,
	[Provider] [nvarchar](100) NULL,
	[DurationHours] [int] NULL,
	[ValidityMonths] [int] NULL,
	[PassingScore] [decimal](5, 2) NULL,
	[Category] [nvarchar](50) NULL,
	[Cost] [decimal](10, 2) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TrainingCourses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingTasks]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingTasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DepartmentId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Shift] [int] NOT NULL,
	[TargetEmployeeCount] [int] NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingTaskSkills]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingTaskSkills](
	[TrainingTaskId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TrainingTaskId] ASC,
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferHistory]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[FromDepartmentId] [int] NOT NULL,
	[ToDepartmentId] [int] NOT NULL,
	[TransferDate] [datetime2](7) NOT NULL,
	[Reason] [nvarchar](max) NULL,
	[TransferredBy] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_TransferHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements] ADD  DEFAULT ((1)) FOR [MinimumProficiencyLevel]
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements] ADD  DEFAULT ('Medium') FOR [Priority]
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmployeeSkills] ADD  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[EmployeeTrainingTasks] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[EmployeeTrainingTaskSkills] ADD  DEFAULT ((0)) FOR [IsCompleted]
GO
ALTER TABLE [dbo].[EmployeeTrainingTaskSkills] ADD  DEFAULT ('Not Started') FOR [Status]
GO
ALTER TABLE [dbo].[EmployeeTrainingTaskSkills] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TrainingAttachments] ADD  CONSTRAINT [DF_TrainingAttachments_AttachmentType]  DEFAULT ('Certificate') FOR [AttachmentType]
GO
ALTER TABLE [dbo].[TrainingAttachments] ADD  CONSTRAINT [DF_TrainingAttachments_UploadDate]  DEFAULT (getutcdate()) FOR [UploadDate]
GO
ALTER TABLE [dbo].[TrainingAttachments] ADD  CONSTRAINT [DF_TrainingAttachments_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TrainingCourses] ADD  CONSTRAINT [DF_TrainingCourses_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TrainingCourses] ADD  CONSTRAINT [DF_TrainingCourses_CreatedDate]  DEFAULT (getutcdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TrainingTasks] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[TrainingTasks] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TrainingTasks] ADD  DEFAULT ((1)) FOR [Shift]
GO
ALTER TABLE [dbo].[TrainingTasks] ADD  CONSTRAINT [DF_TrainingTasks_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TrainingTaskSkills] ADD  CONSTRAINT [DF_TrainingTaskSkills_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Departments_ParentDepartmentId] FOREIGN KEY([ParentDepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Departments_ParentDepartmentId]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_Departments_Employees_HeadOfDepartmentId] FOREIGN KEY([HeadOfDepartmentId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_Departments_Employees_HeadOfDepartmentId]
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentSkillRequirements_Departments] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements] CHECK CONSTRAINT [FK_DepartmentSkillRequirements_Departments]
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements]  WITH CHECK ADD  CONSTRAINT [FK_DepartmentSkillRequirements_Skills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements] CHECK CONSTRAINT [FK_DepartmentSkillRequirements_Skills]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments_DepartmentId]
GO
ALTER TABLE [dbo].[EmployeeSkills]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSkills_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeSkills] CHECK CONSTRAINT [FK_EmployeeSkills_Employees]
GO
ALTER TABLE [dbo].[EmployeeSkills]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSkills_Skills] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([Id])
GO
ALTER TABLE [dbo].[EmployeeSkills] CHECK CONSTRAINT [FK_EmployeeSkills_Skills]
GO
ALTER TABLE [dbo].[EmployeeTrainings]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeTrainings_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeTrainings] CHECK CONSTRAINT [FK_EmployeeTrainings_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[EmployeeTrainings]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeTrainings_TrainingCourses_TrainingCourseId] FOREIGN KEY([TrainingCourseId])
REFERENCES [dbo].[TrainingCourses] ([Id])
GO
ALTER TABLE [dbo].[EmployeeTrainings] CHECK CONSTRAINT [FK_EmployeeTrainings_TrainingCourses_TrainingCourseId]
GO
ALTER TABLE [dbo].[EmployeeTrainingTasks]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[EmployeeTrainingTasks]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
GO
ALTER TABLE [dbo].[EmployeeTrainingTasks]  WITH CHECK ADD FOREIGN KEY([TrainingTaskId])
REFERENCES [dbo].[TrainingTasks] ([Id])
GO
ALTER TABLE [dbo].[EmployeeTrainingTaskSkills]  WITH CHECK ADD FOREIGN KEY([EmployeeTrainingTaskId])
REFERENCES [dbo].[EmployeeTrainingTasks] ([Id])
GO
ALTER TABLE [dbo].[EmployeeTrainingTaskSkills]  WITH CHECK ADD FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([Id])
GO
ALTER TABLE [dbo].[TrainingAttachments]  WITH CHECK ADD  CONSTRAINT [FK_TrainingAttachments_EmployeeTrainings] FOREIGN KEY([EmployeeTrainingId])
REFERENCES [dbo].[EmployeeTrainings] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrainingAttachments] CHECK CONSTRAINT [FK_TrainingAttachments_EmployeeTrainings]
GO
ALTER TABLE [dbo].[TrainingTasks]  WITH CHECK ADD FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[TrainingTaskSkills]  WITH CHECK ADD FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrainingTaskSkills]  WITH CHECK ADD FOREIGN KEY([TrainingTaskId])
REFERENCES [dbo].[TrainingTasks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransferHistory]  WITH CHECK ADD  CONSTRAINT [FK_TransferHistory_Departments_FromDepartmentId] FOREIGN KEY([FromDepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[TransferHistory] CHECK CONSTRAINT [FK_TransferHistory_Departments_FromDepartmentId]
GO
ALTER TABLE [dbo].[TransferHistory]  WITH CHECK ADD  CONSTRAINT [FK_TransferHistory_Departments_ToDepartmentId] FOREIGN KEY([ToDepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[TransferHistory] CHECK CONSTRAINT [FK_TransferHistory_Departments_ToDepartmentId]
GO
ALTER TABLE [dbo].[TransferHistory]  WITH CHECK ADD  CONSTRAINT [FK_TransferHistory_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransferHistory] CHECK CONSTRAINT [FK_TransferHistory_Employees_EmployeeId]
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements]  WITH CHECK ADD  CONSTRAINT [CHK_DepartmentSkillRequirements_MinimumProficiencyLevel] CHECK  (([MinimumProficiencyLevel]>=(1) AND [MinimumProficiencyLevel]<=(5)))
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements] CHECK CONSTRAINT [CHK_DepartmentSkillRequirements_MinimumProficiencyLevel]
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements]  WITH CHECK ADD  CONSTRAINT [CHK_DepartmentSkillRequirements_Priority] CHECK  (([Priority]='Critical' OR [Priority]='High' OR [Priority]='Medium' OR [Priority]='Low'))
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements] CHECK CONSTRAINT [CHK_DepartmentSkillRequirements_Priority]
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements]  WITH CHECK ADD  CONSTRAINT [CHK_DepartmentSkillRequirements_RequiredCount] CHECK  (([RequiredCount]>=(1) AND [RequiredCount]<=(100)))
GO
ALTER TABLE [dbo].[DepartmentSkillRequirements] CHECK CONSTRAINT [CHK_DepartmentSkillRequirements_RequiredCount]
GO
ALTER TABLE [dbo].[EmployeeSkills]  WITH CHECK ADD  CONSTRAINT [CHK_EmployeeSkills_ProficiencyLevel] CHECK  (([ProficiencyLevel]>=(1) AND [ProficiencyLevel]<=(5)))
GO
ALTER TABLE [dbo].[EmployeeSkills] CHECK CONSTRAINT [CHK_EmployeeSkills_ProficiencyLevel]
GO
ALTER TABLE [dbo].[EmployeeTrainingTaskSkills]  WITH CHECK ADD  CONSTRAINT [CK_EmployeeTrainingTaskSkills_Status] CHECK  (([Status]='Failed' OR [Status]='Passed' OR [Status]='In Progress' OR [Status]='Not Started'))
GO
ALTER TABLE [dbo].[EmployeeTrainingTaskSkills] CHECK CONSTRAINT [CK_EmployeeTrainingTaskSkills_Status]
GO
ALTER TABLE [dbo].[TrainingAttachments]  WITH CHECK ADD  CONSTRAINT [CK_TrainingAttachments_FileSizeBytes] CHECK  (([FileSizeBytes]>=(0)))
GO
ALTER TABLE [dbo].[TrainingAttachments] CHECK CONSTRAINT [CK_TrainingAttachments_FileSizeBytes]
GO
ALTER TABLE [dbo].[TrainingCourses]  WITH CHECK ADD  CONSTRAINT [CK_TrainingCourses_Cost] CHECK  (([Cost]>=(0)))
GO
ALTER TABLE [dbo].[TrainingCourses] CHECK CONSTRAINT [CK_TrainingCourses_Cost]
GO
ALTER TABLE [dbo].[TrainingCourses]  WITH CHECK ADD  CONSTRAINT [CK_TrainingCourses_DurationHours] CHECK  (([DurationHours]>=(0) AND [DurationHours]<=(1000)))
GO
ALTER TABLE [dbo].[TrainingCourses] CHECK CONSTRAINT [CK_TrainingCourses_DurationHours]
GO
ALTER TABLE [dbo].[TrainingCourses]  WITH CHECK ADD  CONSTRAINT [CK_TrainingCourses_PassingScore] CHECK  (([PassingScore]>=(0) AND [PassingScore]<=(100)))
GO
ALTER TABLE [dbo].[TrainingCourses] CHECK CONSTRAINT [CK_TrainingCourses_PassingScore]
GO
ALTER TABLE [dbo].[TrainingCourses]  WITH CHECK ADD  CONSTRAINT [CK_TrainingCourses_ValidityMonths] CHECK  (([ValidityMonths]>=(0) AND [ValidityMonths]<=(120)))
GO
ALTER TABLE [dbo].[TrainingCourses] CHECK CONSTRAINT [CK_TrainingCourses_ValidityMonths]
GO
ALTER TABLE [dbo].[TrainingTasks]  WITH CHECK ADD  CONSTRAINT [CK_TrainingTasks_Shift] CHECK  (([Shift]=(3) OR [Shift]=(2) OR [Shift]=(1)))
GO
ALTER TABLE [dbo].[TrainingTasks] CHECK CONSTRAINT [CK_TrainingTasks_Shift]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTrainingAttachments]    Script Date: 11/03/2026 13:01:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetTrainingAttachments]
    @EmployeeTrainingId INT,
    @IncludeInactive BIT = 0
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        ta.[Id],
        ta.[EmployeeTrainingId],
        ta.[FileName],
        ta.[StoragePath],
        ta.[ContentType],
        ta.[FileSizeBytes],
        ta.[AttachmentType],
        ta.[Description],
        ta.[UploadedBy],
        ta.[UploadDate],
        ta.[IsActive]
    FROM [dbo].[TrainingAttachments] ta
    WHERE ta.[EmployeeTrainingId] = @EmployeeTrainingId
        AND (ta.[IsActive] = 1 OR @IncludeInactive = 1)
    ORDER BY ta.[UploadDate] DESC
END

GO
USE [master]
GO
